<!DOCTYPE html>
<html>
<html class="no-js" lang="">
  <head>
   <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <script src="javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <title>{{ header }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <p>{{ posneg }}</p>
  <p>{{ data.positive }}</p>
  <p>{{ data.negative }}</p>

    <h1>Sign Up</h1>
    <form action="/account/register", method="POST">
        <input type="text" name="email" placeholder="Email"/><br/>
        <input type="text" name="username" placeholder="Username"/><br/>
        <input type="text" name="password" placeholder="Password"/><br/>
        <input type="submit" name="Submit" /><br/>
    </form>

        <h1>Login</h1>
    <form action="/account/login", method="POST">
        <input type="text" name="email" placeholder="Email"/><br/>
        <input type="text" name="password" placeholder="Password"/><br/>
        <input type="submit" name="Login" /><br/>
    </form>

    <p> Digital Affect </p>

    <ul></ul>

    <button type="button">Button</button>

    <div class="chart-containter">
        <div class="pie-chart-container">
            <canvas id="pie-chartcanvas-1"></canvas>
        </div>

        <div class="pie-chart-container">
            <canvas id="pie-chartcanvas-2"></canvas>
        </div>

    </div>

    <div style="width: 90%;">
      <canvas id="lineChart" height="400" width="400"></canvas>
      </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 

        <script src="javascripts/main.js"></script>

  </body>
</html>
